@mixin list-default {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  overflow-x: hidden;
}

.hide {
  display: none;
}
