/*font-family*/

$family-oswald: "Oswald", "Arial Narrow", sans-serif;
$family-arial: "Arial", sans-serif;

/*font-color*/

$title-color: #111111;
$text-color: #444444;

/*font-size*/
$caption: 36px;
$title: 24px;
$menu: 20px;
$common-uppercase: 16px;
$text: 14px;
$table-text: 12px;
$promo-text: 12px;

@media (min-width: 768px) {
  $menu: 18px;
}
