/*font-family*/

$family-oswald: "Oswald", "Arial Narrow", sans-serif;
$family-arial: "Arial", sans-serif;

/*font-color*/

$title-color: #111111;
$text-color: #444444;

/*font-size*/
$mobile-caption: 36px;
$mobile-title: 24px;
$mobile-menu: 20px;
$mobile-common-uppercase: 16px;
$mobile-text: 14px;
$mobile-table-text: 12px;
$mobile-promo-text: 12px;
