.advantages {
  padding-top: 18px;

  @media (min-width: 768px) {
    padding-top: 47px;
  }

  @media (min-width: 1300px) {
    padding-top: 75px;
    min-width: 1220px;
  }
}

.advantages__title {
  font-family: $family-primary;
  font-size: $mobile-caption;
  line-height: 60px;
  font-weight: 400;
  color: $title-color;
  margin-top: 0;
  margin-bottom: 27px;

  @media (min-width: 768px) {
    font-size: $tablet-caption;
    line-height: 60px;
    margin-bottom: 39px;
  }
}

.advantages__list {
  @include list-default;
  margin-bottom: 42px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: 1300px) {
    justify-content: flex-start;

    :not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }
}

.advantages__item {
  font-family: $family-secondary;
  font-size: $mobile-text;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding: 2px 0 4px 0;
  padding-left: 80px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--boil {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--device {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--weight {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50px auto;
      }
    }
  }

  @media (min-width: 768px) {
    font-size: $tablet-text;
    line-height: 24px;
    width: 324px;
    margin-top: 27px;
    margin-bottom: 58px;
    padding-top: 115px;
    padding-right: 70px;
    padding-left: 0;
    padding-bottom: 45px;

    &::before {
      top: 4px;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: 1300px) {
    width: 245px;
    margin-bottom: 27px;
    padding-right: 0;
  }
}

.advantages__number {
  display: none;

  @media (min-width: 768px) {
    font-family: $family-primary;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    position: absolute;
    top: -24px;
    left: 78px;
    z-index: -1;
    display: block;
    width: 200px;
    text-align: center;
  }

  &--one {
    @media (min-width: 768px) {
      left: 70px;
    }
  }
}
