.button {
  font-family: $family-oswald;
  font-size: $mobile-common-uppercase;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;

  &--header {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 0;

    @media (max-width: 490px) {
      margin: 0 20px;
    }
  }

  &--gray {
    color: $text-color;
    background-color: #f2f2f2;
  }
}
