.button {
  font-family: $family-primary;
  font-size: $mobile-common-uppercase;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  max-width: 410px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;

  &--tall {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 0;

    @media (min-width: 768px) {
      font-size: 20px;
      margin: 0;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--large {
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 8px;

    @media (min-width: 768px) {
      font-size: 20px;
      margin: 0;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &--gray {
    color: $text-color;
    background-color: #f2f2f2;
  }

  @media (min-width: 768px) {
    max-width: 1000px;
  }
}
