.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  padding-top: 0;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 24px;
  border: 1px solid #ededed;

  @media (max-width: 767px) {
    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #ffffff 82px, #f2f2f2 82px, #f2f2f2 100%);
    border: none;
  }

  @media (min-width: 1300px) {
    justify-content: flex-start;
  }

  &--more {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 50%;
      display: block;
      width: 30px;
      height: 30px;
      transform: translateX(-50%);
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
      background: transparent;
      height: 432px;
      margin-top: 81px;
      padding-bottom: 39px;
      border: 1px solid #e6e6e6;
      align-self: flex-end;

      &::before {
        top: 55px;
        width: 60px;
        height: 60px;
        opacity: 0.2;
      }
    }
  }

  &--more .card__name {
    width: 100%;
    margin-bottom: 8px;
    padding-top: 79px;
    text-align: center;

    @media (min-width: 768px) {
      width: 140px;
      margin-bottom: 24px;
      padding-top: 79px;
      padding-right: 30px;
      padding-left: 30px;
      text-align: center;
    }

    @media (min-width: 1300px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &--additional {
    max-width: 410px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 17px;
    border-color: #cdcdcd;
    border-right: none;
    border-left: none;

    @media (max-width: 450px) {
      margin: 0 20px;
    }

    @media (min-width: 768px) {
      max-width: none;
      padding-left: 37px;
      padding-right: 36px;
      padding-bottom: 27px;
      border: 1px solid #e6e6e6;
      background: none;

      &:not(:first-child) {
        margin-top: -1px;
      }
    }

    @media (min-width: 1300px) {
      justify-content: space-between;
      min-height: 73px;
      padding-right: 0;
      padding-left: 0;
      padding-top: 14px;
      padding-bottom: 16px;
      border-color: #cdcdcd;
      border-right: none;
      border-left: none;
      vertical-align: baseline;
    }
  }

  &--additional .card__description {
    justify-content: space-between;
    width: 100%;
    padding-top: 11px;

    @media (min-width: 768px) {
      align-items: flex-start;
      margin-bottom: 22px;
      padding-top: 27px;
    }

    @media (min-width: 1300px) {
      align-items: center;
      width: 612px;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  &--additional .card__name {
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      width: auto;
      margin: 0;
    }
  }

  &--additional .card__attributes {
    @media (min-width: 768px) {
      width: auto;
      margin-top: 2px;
      flex-shrink: 0;
    }
  }

  &--additional .card__property,
  &--additional .card__value {
    font-size: $mobile-text;

    @media (min-width: 768px) {
      font-size: $tablet-text;
      line-height: 20px;
      border-bottom: none;
      padding: 0;
    }

    @media (min-width: 1300px) {
      width: 47px;
      padding-top: 4px;
      text-align: left;
    }
  }

  &--additional .card__property {
    @media (min-width: 768px) {
      padding-right: 50px;
    }

    @media (min-width: 1300px) {
      width: 170px;
      padding-right: 69px;
    }
  }

  &--additional .card__action {
    @media (min-width: 1300px) {
      width: 245px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.card__image {
  display: block;

  @media (min-width: 1300px) {
    margin-top: 1px;
    margin-left: -38px;
  }
}

.card__description {
  width: calc(100% - 140px);
  margin-bottom: 14px;
  padding-top: 21px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 38px;
    margin-bottom: 33px;
  }
}

.card__link {
  font-family: $family-primary;
  font-size: $mobile-common-uppercase;
  line-height: 20px;
  font-weight: 400;
  color: $title-color;
  text-transform: uppercase;
  display: block;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: $tablet-common-uppercase;
    line-height: 20px;
    text-align: center;
  }
}

.card__name {
  width: 80px;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
}

.card__attributes {
  width: 100%;
  border-collapse: collapse;
}

.card__property,
.card__value {
  font-family: $family-secondary;
  font-size: $mobile-table-text;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
  padding: 0;

  @media (min-width: 768px) {
    font-size: $tablet-text;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__value {
  text-align: right;
}

.card__promo {
  font-family: $family-secondary;
  font-size: $mobile-promo-text;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
  width: 100%;
  margin: 0;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: $tablet-text;
    line-height: 19px;
    width: 200px;
    padding-bottom: 63px;
  }
}

.card__action {
  width: 100%;
}
