.card {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }

  &--additional {
    width: 280px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 17px;
    border: none;
    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
}

.card__description {
  width: calc(100% - 140px);
  margin-bottom: 14px;
  padding-top: 21px;
}

.card__name {
  font-family: $family-oswald;

  font-size: $mobile-common-uppercase;
  line-height: 20px;
  font-weight: 400;
  color: $title-color;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
  margin-bottom: 13px;

  &--add {
    width: 100%;
    margin-bottom: 8px;
    padding-top: 79px;
    text-align: center;
  }
}

.card__attributes {
  width: 100%;
  border-collapse: collapse;
}

.card__property,
.card__value {
  font-family: $family-arial;

  font-size: $mobile-table-text;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
  padding: 0;
}

.card__value {
  text-align: right;
}

.card__promo {
  font-family: $family-arial;

  font-size: $mobile-promo-text;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
  width: 100%;
  margin: 0;
  margin-bottom: 21px;
  text-align: center;
}

.card__action {
  width: 100%;
}

.card--additional .card__description,
.card--additional .card__name {
  width: 100%;
}

.card--additional .card__description {
  padding-top: 11px;
}

.card--additional .card__name {
  margin-bottom: 10px;
}

.card--additional .card__property,
.card--additional .card__value {
  font-size: $mobile-text;
}
