.catalog {
  padding: 0;
  margin-bottom: 18px;
  max-width: 450px;
}

.catalog__list {
  @include list-default;
}

.catalog__title {
  @include green-line-title;
  margin: 0;
  margin-bottom: 24px;
  padding: 10px 20px;
}

.catalog__promo {
  font-family: $family-arial;
  font-size: $common-uppercase;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 34px;
  padding: 0 56px;
  padding-top: 186px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
