.catalog {
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 768px) {
    max-width: 940px;
  }

  @media (min-width: 1300px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    padding: 0;
  }
}

.catalog__list {
  @include list-default;

  @media (min-width: 1300px) {
    width: 895px;
    margin-bottom: 86px;
    padding: 0 40px;
  }

  &--grid {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: auto;
      padding-top: 26px;
    }

    @media (min-width: 1300px) {
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  &--grid .catalog__item {
    @media (min-width: 768px) and (max-width: 1299px) {
      margin-bottom: 58px;
      width: 45.7%;

      &:nth-last-child(2),
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: 1300px) {
      width: 245px;
      margin-right: 80px;
      margin-bottom: 61px;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.catalog__promo {
  font-family: $family-secondary;
  font-size: $mobile-common-uppercase;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  display: block;
  width: 170px;
  min-height: 104px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 34px;
  padding: 0 56px;
  padding-top: 186px;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 66px;
    left: 114px;
    display: block;
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    font-size: $tablet-text;
    line-height: 20px;
    min-height: 60px;
    margin-top: 69px;
    margin-bottom: 76px;
    padding-left: 423px;
    padding-right: 115px;
    padding-top: 71px;
    padding-bottom: 69px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;

    &::before {
      left: 90px;
    }
  }

  @media (min-width: 1300px) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 187px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 43px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    text-align: center;

    &::before {
      left: 98px;
    }
  }
}
