.catalog {
  max-width: 450px;
  padding-bottom: 18px;

  @media (max-width: 767px) {
    padding: 0;
  }

  @media (min-width: 768px) {
    max-width: 1000px;
    padding-top: 31px;
    padding-bottom: 68px;

    &--additional {
      padding: 0;
    }
  }
}

.catalog__title {
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.catalog__list {
  @include list-default;


  @media (min-width: 768px) {
    &--grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.catalog__list--grid .catalog__item {
  @media (min-width: 768px) {
    margin-bottom: 58px;
  }
}

.catalog__promo {
  font-family: $family-arial;
  font-size: $mobile-common-uppercase;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 34px;
  padding: 0 56px;
  padding-top: 186px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
