.categories {
  max-width: 450px;
}

.categories__list {
  @include list-default;
  margin-bottom: 17px;
}

.categories__item:not(:last-child) {
  margin-bottom: 20px;
}

.categories__item {
  padding: 21px 20px 23px 20px;
  background-color: #f2f2f2;
}

.categories__title {
  font-family: $family-oswald;
  font-size: $mobile-title;
  line-height: 37px;
  font-weight: 400;
  color: $title-color;
  margin: 0;
  margin-bottom: 22px;
  padding: 8px 0;
  padding-left: 72px;
  text-transform: uppercase;
}

.categories__promo {
  font-family: $family-arial;

  font-size: $mobile-text;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  margin-bottom: 22px;
}

.categories__link {
  font-family: $family-oswald;

  font-size: $mobile-common-uppercase;
  line-height: 16px;
  font-weight: 400;
  color: $title-color;
  display: block;
  padding-top: 18px;
  border-top: 1px solid #d9d9d9;
  text-transform: uppercase;
  text-decoration: none;
}
