.categories__list {
  @include list-default;

  @media (min-width: 1300px) {
    display: flex;
    justify-content: space-between;
  }
}

.categories__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.categories__item {
  position: relative;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    padding-top: 77px;
    padding-right: 280px;
    padding-bottom: 60px;
    padding-left: 52px;

    &::before {
      left: unset;
      right: 60px;
      top: 91px;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: 1300px) {
    width: 570px;
    padding: 77px 50px 61px 52px;
    box-sizing: border-box;

    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      right: unset;
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &--slim {
    &::after {
      top: 22px;
      left: 30px;
      width: 35px;
      height: 49px;
      background-image: url("../img/icon-cat-slim.svg");
    }

    @media (min-width: 768px) {
      &::after {
        left: unset;
        right: 92px;
        top: 80px;
        width: 140px;
        height: 194px;
      }
    }

    @media (min-width: 1300px) {
      &::after {
        right: unset;
        left: 66px;
        top: 41px;
        width: 70px;
        height: 97px;
      }
    }
  }

  &--pro {
    &::after {
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;
      background-image: url("../img/icon-cat-pro.svg");
    }

    @media (min-width: 768px) {
      &::after {
        left: unset;
        right: 28px;
        top: 135px;
        width: 268px;
        height: 112px;
      }
    }

    @media (min-width: 1300px) {
      &::after {
        right: unset;
        left: 34px;
        top: 69px;
        width: 134px;
        height: 56px;
      }
    }
  }

  &--slim .categories__link {
    @media (min-width: 768px) {

      &::after {
        left: 132px;
      }
    }
  }

  &--pro .categories__link {
    @media (min-width: 768px) {

      &::after {
        left: 126px;
      }
    }
  }
}

.categories__item--pro {
  @media (min-width: 768px) {
    padding-right: 315px;
  }

  @media (min-width: 1300px) {
    padding-right: 50px;
  }
}

.categories__title {
  font-family: $family-primary;
  font-size: $mobile-title;
  line-height: 37px;
  font-weight: 400;
  color: $title-color;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: $tablet-title;
    line-height: 37px;
    margin-bottom: 23px;
    padding: 0;
  }

  @media (min-width: 1300px) {
    padding-left: 163px;
    margin-bottom: 73px;
  }
}

.categories__promo {
  font-family: $family-secondary;
  font-size: $mobile-text;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    font-size: $tablet-text;
    line-height: 24px;
    margin-bottom: 40px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 13px;
  }
}

.categories__link {
  font-family: $family-primary;
  font-size: $mobile-common-uppercase;
  line-height: 16px;
  font-weight: 400;
  color: $title-color;
  position: relative;
  display: block;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 97px;
    bottom: 3px;
    display: block;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      width: 33px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: $tablet-common-uppercase;
    line-height: 20px;
    border-top: none;

    &::after {
      bottom: 6px;
    }
  }
}
