.categories__list {
  @include list-default;

  @media (min-width: 1300px) {
    display: flex;
    justify-content: space-between;
  }
}

.categories__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.categories__item {
  padding: 30px 20px 22px 20px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    padding: 77px 280px 60px 52px;
  }

  @media (min-width: 1300px) {
    width: 570px;
    padding: 77px 50px 61px 52px;
    box-sizing: border-box;

    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.categories__item--pro {
  @media (min-width: 768px) {
    padding-right: 315px;
  }

  @media (min-width: 1300px) {
    padding-right: 50px;
  }
}

.categories__title {
  font-family: $family-primary;
  font-size: $mobile-title;
  line-height: 37px;
  font-weight: 400;
  color: $title-color;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: $tablet-title;
    line-height: 37px;
    margin-bottom: 23px;
    padding: 0;
  }

  @media (min-width: 1300px) {
    padding-left: 163px;
    margin-bottom: 73px;
  }
}

.categories__promo {
  font-family: $family-secondary;
  font-size: $mobile-text;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    font-size: $tablet-text;
    line-height: 24px;
    margin-bottom: 40px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 13px;
  }
}

.categories__link {
  font-family: $family-primary;

  font-size: $mobile-common-uppercase;
  line-height: 16px;
  font-weight: 400;
  color: $title-color;
  display: block;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;
  text-transform: uppercase;
  text-decoration: none;


  @media (min-width: 768px) {
    font-size: $tablet-common-uppercase;
    line-height: 20px;
    border-top: none;
  }
}
