.crossed-title {
  font-family: $family-primary;
  font-size: $mobile-title;
  line-height: 24px;
  font-weight: 400;
  color: $title-color;
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 29px;
  margin-bottom: 33px;

  @media (min-width: 768px) {
    font-size: $tablet-title;
    line-height: 36px;
    margin-top: 68px;
    margin-bottom: 79px;
  }

  @media (min-width: 1300px) {
    width: 100%;
    margin-top: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 50%;
    display: block;
    width: 100vw;
    height: 3px;
    transform: translateX(-50%);
    background-color: #68b738;
    z-index: 1;

    @media (min-width: 768px) {
      top: 21px;
    }
  }
}

.crossed-title__text {
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
  padding-right: 22px;
  background-color: white;

  @media (min-width: 768px) {
    padding-left: 37px;
    padding-right: 37px;
  }

  &--shift {
    margin-left: -20px;

    @media (min-width: 768px) {
      margin-left: -40px;
    }
  }

  &--long {
    width: 181px;

    @media (min-width: 768px) {
      width: auto;
    }
  }
}
