.form__promo {
  font-family: $family-oswald;

  font-size: $mobile-text;
  line-height: 18px;
  font-weight: 400;
  color: $title-color;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
  padding-right: 10px;
}

.form__section {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.form__group {
  display: flex;
  align-items: baseline;
  min-width: 100%;
}

.form__input {
  flex-grow: 1;
  min-width: 140px;
  margin-bottom: 14px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 20px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}

.form__caption {
  font-family: $family-oswald;

  font-size: $mobile-title;
  line-height: 24px;
  font-weight: 400;
  color: $title-color;
}

.form__label {
  font-family: $family-oswald;

  font-size: $mobile-common-uppercase;
  line-height: 18px;
  font-weight: 400;
  color: $title-color;
  text-transform: uppercase;
  padding-right: 13px;
  flex-shrink: 0;
  box-sizing: border-box;

  &[for=weight] {
    padding-right: 16px;
  }

  &[for=age] {
    width: 108px;
  }

}

.form__input,
.form__text {
  font-family: $family-oswald;

  font-size: $mobile-common-uppercase;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  text-transform: uppercase;
}

.form__note {
  font-family: $family-arial;

  font-size: $mobile-text;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
}
