.form {
  margin: 0 auto;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    max-width: 920px;
    margin-bottom: 72px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1300px) {
    max-width: none;
    margin-bottom: 82px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__promo {
  font-family: $family-primary;
  font-size: $mobile-text;
  line-height: 18px;
  font-weight: 400;
  color: $title-color;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 36px;
  padding-right: 30px;

  @media (min-width: 768px) {
    font-size: $tablet-common-uppercase;
    line-height: 30px;
    width: 330px;
    margin-bottom: 64px;
    padding-left: 0;
  }
}

.form__wrapper {
  @media (min-width: 1300px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__wrapper .form__section:first-child {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media (min-width: 1300px) {
    width: 570px;
    margin: 0;
  }
}

.form__section {
  @media (min-width: 1300px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--border {
    max-width: 450px;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #ededed;

    @media (max-width: 767px) {
      position: relative;
      left: -20px;
      width: 100vw;
      box-sizing: border-box;
    }

    @media (min-width: 768px) {
      min-width: 629px;
      max-width: none;
      box-sizing: border-box;
      margin: 0 auto;
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 27px;
      padding-right: 27px;
    }

    @media (min-width: 1300px) {
      min-width: auto;
      width: 570px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--border .form__group {
    margin-bottom: 13px;
  }

  &--grid {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 21px;
    }

    @media (min-width: 1300px) {
      margin-bottom: 28px;
    }
  }

  &--grid .form__group {
    @media (min-width: 768px) {
      width: 45%;
      flex-shrink: 0;
      margin-bottom: 32px;
    }

    @media (min-width: 1300px) {
      width: 246px;
    }
  }
}

.form__caption {
  @media (min-width: 768px) {
    margin-top: 76px;
    margin-bottom: 75px;
  }

  @media (min-width: 1300px) {
    margin-top: 70px;
  }

  &--comment {
    @media (min-width: 768px) {
      margin-top: 66px;
    }

    @media (min-width: 1300px) {
      margin-top: 48px;
    }
  }

  &--add {
    @media (min-width: 768px) {
      margin-top: 65px;
      margin-bottom: 57px;
    }

    @media (min-width: 1300px) {
      margin-top: 68px;
    }
  }
}

.form__group {
  position:relative;
  display: flex;
  align-items: baseline;
  max-width: 100%;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media (min-width: 1300px) {
    width: 570px;
  }
}

.form__input,
.form__text {
  font-family: $family-primary;
  font-size: $mobile-common-uppercase;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;

  &--error {
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 14px;
    border-color: #ff8282;
    border-width: 2px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active,
  &:focus {
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 14px;
    border-color: #444444;
    border-width: 2px;
  }

  @media (min-width: 768px) {
    font-size: $tablet-common-uppercase;
    line-height: 20px;
    padding-top: 16px;
    padding-left: 18px;
    padding-bottom: 14px;

    &--error {
      padding-top: 15px;
      padding-left: 17px;
      padding-bottom: 13px;
      border-color: #ff8282;
      border-width: 2px;
    }

    &:active,
    &:focus {
      padding-top: 15px;
      padding-left: 17px;
      padding-bottom: 13px;
    }
  }
}

.form__input {
  flex-grow: 1;
  min-width: 140px;
}

.form__input:active + .form__icon-mail,
.form__input:focus + .form__icon-mail,
.form__input:active + .form__icon-phone,
.form__input:focus + .form__icon-phone {
  fill: #68b738;
}

.form__input--error + .form__icon-mail,
.form__input--error + .form__icon-phone {
  fill: #ff8282;
}

.form__text {
  width: 100%;
  min-width: 280px;
  max-width: 450px;
  min-height: 150px;
  margin: 0;

  @media (min-width: 768px) {
    min-height: 174px;
    max-width: 1000px;
  }

  @media (min-width: 1300px) {
    max-width: none;
  }
}

.form__label {
  font-family: $family-primary;
  font-size: $mobile-common-uppercase;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  display: block;
  padding-right: 13px;
  padding-top: 13px;
  padding-bottom: 15px;
  flex-shrink: 0;
  box-sizing: border-box;

  &[for="weight"] {
    padding-right: 16px;
  }

  &[for="age"] {
    width: 108px;
  }

  @media (min-width: 768px) {
    font-size: $tablet-common-uppercase;
    line-height: 20px;
    padding-right: 17px;

    &[for="weight"] {
      padding-right: 21px;
    }

    &[for="age"] {
      width: auto;
    }
  }
}

.form__radio + .form__label,
.form__checkbox + .form__label {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
  }

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.form__radio + .form__label {
  &::before {
    border-radius: 50%;
  }
}

.form__radio:focus + .form__label,
.form__checkbox:focus + .form__label{
  color: rgba(34, 34, 34, 0.7);
}

.form__checkbox:checked + .form__label {
  &::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 16px;
  }
}

.form__radio:checked + .form__label {
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #68b738;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    &::after {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }
}

.form__submit {
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    display: inline-block;
    width: 283px;

    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  @media (min-width: 1300px) {
    width: 570px;
  }
}

.form__icon-mail {
  position: absolute;
  width: 17px;
  height: 13px;
  top: 16px;
  right: 16px;

  @media (min-width: 768px) {
    top: 20px;
  }

  @media (min-width: 1300px) {
    right: 20px;
  }
}

.form__icon-phone {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 13px;

  @media (min-width: 768px) {
    top: 17px;
  }

  @media (min-width: 1300px) {
    right: 19px;
  }
}

.form__note {
  font-family: $family-secondary;
  font-size: $mobile-text;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    font-size: $tablet-text;
    display: inline-block;
    margin-left: 62px;
    vertical-align: middle;
  }

  @media (min-width: 1300px) {
    margin-left: 80px;
    vertical-align: baseline;
  }
}
