.page-header {
  min-width: 320px;

  @media (min-width: 768px) {
    padding: 0 30px;
    max-width: 940px;
    margin: 0 auto;
  }

  @media (min-width: 1300px) {
    position: relative;
    z-index: 10;
    min-width: 1300px;
    max-width: none;
    padding: 0;

    &--bkgnd {
      margin-bottom: 81px;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: calc(50% - 160px);
        display: block;
        width: 880px;
        height: 698px;
        background-image: url("../img/index-can-desktop@1x.png"),
          url("../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: left 143px, 160px 0;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
          background-size: 552px auto, 720px auto;
        }
      }
    }
  }
}

.page-header__caption {
  min-height: 480px;
  margin-bottom: 22px;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, #64a83b 305px, #ffffff 305px, #ffffff 100%);
  background-position: center 166px, center top, center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    min-height: 842px;
    margin-bottom: 0;
    padding-top: 34px;
    padding-left: 88px;
    background: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  @media (min-width: 1300px) {
    min-height: 529px;
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 57px;
    padding-left: 0;
    background: none;
  }
}

.page-header__title {
  font-family: $family-primary;
  font-size: $mobile-caption;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-decoration: none;
  text-align: center;

  @media (min-width: 768px) {
    font-size: $tablet-caption;
    line-height: 60px;
    color: $title-color;
    width: 430px;
    max-width: inherit;
    margin: 0;
    margin-bottom: 40px;
    text-align: left;
  }

  &--no-bkgnd {
    line-height: 60px;
    color: $title-color;
    width: auto;
    max-width: 410px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 28px;
    text-align: left;

    @media (min-width: 768px) {
      width: auto;
      max-width: 1000px;
      margin-bottom: 0;
      padding-top: 34px;
      padding-bottom: 55px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 1300px) {
      max-width: none;
      width: 1220px;
      margin: 0 auto;
      padding-top: 23px;
    }
  }
}

.page-header__promo {
  font-family: $family-primary;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 301px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    color: $title-color;
    width: 430px;
    margin: 0;
    margin-bottom: 47px;
    text-align: left;
  }

  @media (min-width: 1300px) {
    margin-bottom: 52px;
  }
}

.page-header__link {
  @media (min-width: 768px) {
    width: 245px;
  }
}
