.page-header {
  min-width: 320px;

  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.page-header__caption {
  min-height: 480px;
  margin-bottom: 22px;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, #64a83b 305px, #ffffff 305px, #ffffff 100%);
  background-position: center 166px, center top, center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    min-height: 842px;
    margin-bottom: 0;
    padding-top: 34px;
    padding-left: 88px;
    background: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 80px bottom;
    background-size: 630px 609px;
  }
}

.page-header__title {
  font-family: $family-oswald;
  font-size: $mobile-caption;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-decoration: none;
  text-align: center;

  &--no-bkgnd {
    line-height: 60px;
    color: $title-color;
    width: auto;
    max-width: 410px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 28px;
    text-align: left;
  }

  @media (min-width: 768px) {
    font-size: $tablet-caption;
    line-height: 60px;
    color: $title-color;
    width: 430px;
    margin: 0;
    margin-bottom: 40px;
    text-align: left;

    &--no-bkgnd {
      width: auto;
      max-width: 1000px;
      margin-bottom: 0;
      padding-top: 34px;
      padding-bottom: 55px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.page-header__promo {
  font-family: $family-oswald;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 301px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    color: $title-color;
    width: 430px;
    margin: 0;
    margin-bottom: 47px;
    text-align: left;
  }
}
