.socials {
  display: flex;
  width: 100%;
  min-height: 64px;

  @include list-default;
  padding-top: 22px;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 125px;
    border-top: none;
    justify-content: space-between;
  }
}

.socials__link {
  display: block;

  &--vk {
    width: 22px;
    height: 12px;
    margin-top: 5px;
    margin-right: 37px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 37px;
  }

  &--facebook {
    width: 10px;
    height: 21px;
    padding-right: 12px;
  }

  @media (min-width: 768px) {
    &--vk {
      width: 30px;
      height: 18px;
      margin-right: 0;
    }

    &--instagram {
      width: 23px;
      height: 23px;
      margin-right: 0;
    }

    &--facebook {
      width: 14px;
      height: 30px;
      padding-right: 0;
    }
  }
}

.socials__link .page-footer__icon {
  fill: #666666;
}

.socials__link:hover .page-footer__icon {
  fill: #68b738;
}

.socials__link:active .page-footer__icon {
  opacity: 0.3;
}
