.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding-top: 40px;
  cursor: pointer;
}

.page-footer__dev {
  font-family: "Arial", sans-serif;

  @include font-param(16px, 16px, 400, #444444);
  text-decoration: none;
}
