.catalog {
  margin: 0;
  margin-bottom: 18px;
}

.catalog__list {
  @include list-default;
}

.catalog__title {
  @include green-line-title;
  margin: 0;
  margin-bottom: 24px;
  padding: 10px 20px;

}

.catalog__promo {
  font-family: "Arial", sans-serif;

  @include font-param(16px, 20px, 400, #ffffff);
  display: block;
  min-height: 290px;
  margin: 0;
  padding: 0 55px;
  padding-top: 188px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}
