.categories__list {
  @include list-default;
  margin-bottom: 17px;
}

.categories__item:not(:last-child) {
  margin-bottom: 20px;
}

.categories__item {
  padding: 21px 20px 23px 20px;
  background-color: #f2f2f2;
}

.categories__title {
  font-family: "Oswald", sans-serif;

  @include font-param(24px, 37px, 400, #111111);
  margin: 0;
  margin-bottom: 22px;
  padding: 8px 0;
  padding-left: 72px;
  text-transform: uppercase;
}

.categories__promo {
  font-family: "Arial", sans-serif;

  @include font-param(14px, 18px, 400, #444444);
  margin-bottom: 22px;
}

.categories__link {
  font-family: "Oswald", sans-serif;

  @include font-param(16px, 16px, 400, #111111);
  display: block;
  padding-top: 18px;
  border-top: 1px solid #d9d9d9;
  text-transform: uppercase;
  text-decoration: none;
}
