.parameters__group {
  position: relative;

  &:first-child {
    margin-right: 32px;
  }
}

.parameters__value {
  font-family: "Oswald", sans-serif;

  @include font-param(24px, 24px, 400, #111111);
  width: 122px;
  margin: 0;
  padding: 12px 0 18px 0;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.parameters__property {
  font-family: "Arial", sans-serif;

  @include font-param(12px, 12px, 400, #444444);
  position: absolute;
  left: calc((100% - 86px) / 2);
  bottom: -15px;
  display: block;
  width: 60px;
  margin: 0;
  padding: 0 13px;
  text-align: center;
  background-color: #f2f2f2;
}
