.page-header {
  min-width: 320px;
  min-height: 65px;
}

.page-header__wrapper {
  position: relative;
  width: 100%;
  min-height: 65px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__burger {
  display: block;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 2px;
  box-sizing: content-box;
  background-color: #222222;
  border: none;
  border-top: 6px solid #ffffff;
  border-bottom: 6px solid #ffffff;
  box-shadow: 0 -2px 0 #222222, 0 2px 0 #222222;
}

.page-header__caption {
  padding-top: 27px;
  min-height: 440px;
  box-sizing: border-box;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__title {
  font-family: "Oswald", sans-serif;

  @include font-param(36px, 36px, 400, #ffffff);
  margin: 0;
  padding-bottom: 25px;
  text-decoration: none;
  text-align: center;

  &--black {
    @include font-param(36px, 60px, 400, #111111);
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 28px;
    text-align: left;
  }
}

.page-header__promo {
  font-family: "Oswald", sans-serif;

  @include font-param(14px, 14px, 400, #ffffff);
  margin: 0;
  margin-bottom: 28px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.page-header__image {
  display: block;
  margin: 0 auto;
}

.page-header__link {
  margin: 0 20px;
  margin-bottom: 22px;
}
